

 * {
     margin: 0;
     padding: 0;
     font-family: "YourGreatFont", sans-serif;
     box-sizing: border-box;
 }

body {
    background-color: #19334d;
    color: white;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: right center; /* Set image to right center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px 10%;
}

 nav {
     position: fixed; /* Fixed position to stay at the top */
     top: 0; /* Positioned at the top */
     left: 0;
     width: 100%;

     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }


.logo {
    width: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #b3cce6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    text-align: right; /* Align text to the right */
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 50px;
}
.header-text p{
    margin-top: 15px;
    margin-left: 50px;
}

.header-text h1 span {
    color: #6699cc;
}

.user-img {
    height: 100px;
    width: 100px;
}

#about {
    padding: 80px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

 .about-col-2 {
     flex-basis: 60%;
     color:#060d13;

 }

.sub-title {
    font-size: 80px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    color: #ffffff;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #b3cce6;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;

}
 .tab-content ul li span{
     color: #b3cce6;
     font-size: 14px;
 }

 .tab-content{
     display: none;
 }
.tab-content.active-tab{
    display: block;
}

 .skill-area {
     margin-top: 50px;
     margin-bottom: 20px; /* Adjust spacing between skill areas */
     margin-right: 50px;
     border: 2px solid #ccc; /* Add border */
     border-radius: 5px; /* Add border radius for rounded corners */
     padding: 50px; /* Add padding inside the box */
     transition: border-color 0.3s ease, transform 0.3s ease; /* Add transition effect */
     width: 250px; /* Set width of the box */
     height: 250px; /* Set height of the box */
     display: inline-block; /* Make boxes display inline */
     text-align: center; /* Center the content horizontally */
     vertical-align: top; /* Align the boxes vertically */
     box-sizing: border-box; /* Include padding and border in the box size */
     background:  #3973ac;
     color: black;
 }

 .skill-area:hover {
     border-color: #66afe9; /* Change border color on hover */
     transform: scale(1.05); /* Scale up the box on hover */
 }

 .skill-area h2 {
     margin-top: 0; /* Remove default margin for heading */
 }

 .skill-area ul {
     list-style-type: none; /* Remove default list style */
     padding: 0; /* Remove default padding for the list */
 }

 .skill-area ul li {
     margin-bottom: 5px; /* Adjust spacing between list items */
 }


 #projects {
     /* Background color for projects section */
     padding: 50px 0; /* Add padding to the top and bottom */
 }

 .project {
      /* Background color for each project */
     border: 2px solid #ccc; /* Add border */
     border-radius: 5px; /* Add border radius for rounded corners */
     padding: 20px; /* Add padding inside the box */
     margin-bottom: 20px; /* Adjust spacing between projects */
 }

 .project h2 {
     margin-top: 0; /* Remove default margin for heading */
 }

 .project p {
     margin-bottom: 10px; /* Adjust spacing between paragraph and heading */
 }

 .project a {
     color: #007bff; /* Link color */
     text-decoration: none; /* Remove underline */
 }

 .project a:hover {
     text-decoration: underline; /* Add underline on hover */
 }



 #contact {
     /* Background color for contact section */
     padding: 50px 0; /* Add padding to the top and bottom */
 }

 #contact ul {
     list-style-type: none; /* Remove default list style */
     padding: 0; /* Remove default padding for the list */
 }

 #contact ul li {
     margin-bottom: 10px; /* Adjust spacing between list items */
 }

 #contact ul li a {
     color: #007bff; /* Link color */
     text-decoration: none; /* Remove underline */
 }

 #contact ul li a:hover {
     text-decoration: underline; /* Add underline on hover */
 }

